$font-family = Roboto, sans-serif
$font-family-title = 'Open Sans', sans-serif

$color-1 = #4795d1
$color-2 = #006EB8
$color-3 = #f5f5f5
$color-4 = #23211f

$background = linear-gradient(15deg, $color-1 50%, $color-2 50.1%);
$background-loading = #eee

$sm = "screen and (min-width: 576px)"
$md = "screen and (min-width: 768px)"
$lg = "screen and (min-width: 992px)"
$xl = "screen and (min-width: 1200px)"
