.About
  padding: 1em
  display grid
  grid-template-rows: repeat(4, 1fr)
  grid-template-columns: 1fr 1fr 1fr 
  grid-template-areas: 'title title tile'\
                      'jobtitle jobtitle jobtitle'\
                       'phone email website'\
                       'adress adress adress'
  width: 70%
  justify-content center
  font-weight: bold;
  .Header-title                       
    grid-area: title
    font-family: 'Lobster', cursive;
  .Header-job-title                       
    grid-area: jobtitle
    font-size: 1.2em
    
  .Header-phone                       
    grid-area: phone
  .Header-email                       
    grid-area: email
  .Header-website                       
    grid-area: website
  .Header-adress                       
    grid-area: adress
  a 
    text-decoration: none
    color #95dcea
.subtitleLabel
  margin-top: .5em
  color #b0afb1
  