.Header__contents
	text-align center

	.Header-title
		margin-bottom 0
		color white

	.Header-job-title
		margin-top 5px
		color #dbeeff

	.Header-paragraphs
		margin-bottom 20px

	.Header-paragraphs p
		color #c6ffd0
		margin 5px 0

	.Header-paragraphs p a
		margin-left 5px
		color #c6ffd0

	@media screen and (min-width 600px)
		text-align left

		.Header-title
			margin 0
