.About-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(224, 244, 255);
  border-radius: 25px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
}

.About-item {
  display: flex;
  margin: 0px;
}

h4 {
  color: rgb(71, 82, 94);
  margin: 0px;
  padding: 0px 10px 0px 10px;
  
}

