@import '../Vars.styl'

.About-title
    margin 20px 0 10px 0

.About-list
    margin 0
    padding 0

    .About-item
        list-style-type none
        display inline-block
        background-color dark-grey
        color white
        font-size 15px
        padding 2px 10px
        margin-right 10px