@import "../vars.styl"

.About-title
  grid-column-start 2
  grid-column-end 5

.About__title
    font-size 35px
    margin 5px

.About__job-title
    font-size 25px
    font-weight bold
    margin-top 5px

.About__contact
    display flex
    align-items center
    justify-content space-evenly
    background-color black
    color white
    border-radius 5px

.About-item
    margin-left 5px
