.Academic
  margin: 2% 0%
  grid-area: academic
  display: grid
  grid-template-areas: "title" "content"
  grid-template-rows: 30% 70%
  justify-items: center
  align-items: center
  &-item
    margin: 3% 0%
    display: grid
    grid-template-areas: "date title" "date institution" "description description"
    grid-template-columns: 20% 80%
    justify-content: center
    align-items: center
    &-title
      grid-area: title
    &-institution
      grid-area: institution
    &-date
      grid-area: date
    &-description
      grid-area: description