.Academic
    &-item
        margin 0 0 20px 20px
        font-size 20px
        padding 15px
        &-institution
            font-size 25px
            font-weight bold
            border-bottom 2px solid #22737E
            padding 0 0 15px 0
        &-date
            font-size 20px
            font-weight bold
            padding 10px 0 15px 0