.Academic
  width: 70%
  margin: 2% 0%
  grid-area: academic
  justify-self: center
  display: grid
  grid-template-areas: "title" "content"
  justify-items: center
  align-items: center
  &-item
    display: flex
    margin: 5% 0%