.Button-circle
  position: absolute
  top: 1rem
  right 1rem
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  border: 1px solid black;
  font-size: 1.5rem;
  color: black
  background-color: white
  outline: none
  cursor: pointer

.btn-dark
  box-shadow: 2px 2px 2px rgba(255,255,255,0.5);
  color: white
  background-color: black
  border: 1px solid white;
