cards-color = linear-gradient(to bottom, #E2E7ED 0%, #E8EBF2 50%, #D5DEE7 100%)
.section3
  height 15vh
  width 49%
  padding 1px
  background cards-color
  border-radius 30px
  font-size .5rem
  .title
    width: 100px;
    text-align: end;
  .flexbox
    display flex
    justify-content space-around