@import "./vars.styl"

.Certificate
  grid-area certificate
  width calc(100% - 60px)
  margin 0 30px 30px
  &-title
    width: 13%;
    margin 15px 0
    padding-bottom: 5px;
    color font-colorSecond
    border-bottom: 3px solid rgb(186, 154, 109);
  &-item
    display inline-block
    width 48%
    margin 10px 1%
    background-color color-bgSecond
    box-shadow shadow
    h3
      margin 10px
      color font-colorSecond
    p
      margin 5px 10px 10px
    span
      display block
      margin 5px 0 10px 10px 