.Experience
  grid-area 3 / 1 / 4 / 5
  background-color primary-color
  color comodin-color
  border-radius main-border
  box-shadow shadow
  height main-height
  padding 0 20px
  &-title
    margin 0
    padding 20px 0
    text-align center
  &-content
    // border-left 2px solid comodin-color
  &-item
    h3,
    p
      margin 0
      padding-bottom 10px
      line-height 2