@import 'Var.styl';

.Experience
    &-title
        font-size 1.8em
        font-family title_font
        margin-bottom 10px
        background-color #D4E6F1
        color #154360
        padding-left 10px
        border-radius 10px
    &-desc
        font-size 1.1em
        font-family content_font
        line-height 1.5em     
        padding-left 10px
    &-items
        display flex
        justify-content space-between   
        flex-wrap wrap
    &-item
        background-color LIGHTCYAN
        margin-bottom 10px
        padding 10px 15px
        min-width 450px
        max-width 450px
        
    &-item__company
        font-family title_font
        font-weight bold
        font-size 1.4em
        text-decoration underline   
        margin-bottom 7px
        color #154360 

    &-item__jobTitle
        font-family title_font    
        font-size 1.2em
        color #154360
        font-style italic
        margin-bottom 7px; 
    &-item__dates
        font-family content_font
        font-size 0.9em
        margin-bottom 7px; 
    &-item__desc
        font-family content_font
        line-height 1.5em   
        color #696969    