@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

$font1 = "Lato", sans-serif
$font2 = "Oswald", sans-serif

$gray1 = #d2d2d2
$gray2 = #f9fafc
$gray3 = #5f5f64

$color1 = #55834f
$color2 = #1e1f24

body
  font-family: $font1
  margin: 1rem 0
  font-size: 16px
  background-color: $gray2
  font-family: $font1

h1, h2, h3
 font-family: $font2

h1, h2
 color: $color1

h2
  margin-bottom .5rem

h3
 margin: .5rem 0

ul
  list-style: none

p
  margin-top: 0
  margin-bottom: 2rem

.container
  width: 100%
  max-width: 1004px
  margin: 0 auto

.vertical-line
  margin: 0 1rem;
  border: 1px solid black;
  height: 1.5rem;

.horizontal-line
  border-top: 2px solid black;
  display: block;
  width: 3rem;
  margin-bottom: 1rem
