.Header
    background-color: #E0F4FE
    display flex
    align-items: center
    padding: 15px
    &-avatar
        margin-right: 10px
        & img
            border 1px solid black
            border-radius 100%




