.Header
  grid-area 1 / 1 / 2 / 5
  align-items center
  color comodin-color
  box-shadow shadow
  background-color primary-color
  padding 40px 0
  border-top 7px solid comodin-color
  &-title
    text-align center
  &-content
    display flex
    justify-content center
    align-items center
    figure
      display inline-block
      margin 0
      padding 0 30px
      img
        border-radius 10%
        width 190px
        height 190px
        box-shadow shadow