.Header
    background-image url(/src/assets/static/banner2.jpg) 
    background-size cover
    display flex
    padding 10px
    border-radius 15px
    &__avatar
        border-radius 50%
        width 170px
