.Interest-container 
  background-color: #7d9cff
  padding: 15px 40px
  h1
    margin: 0
    font-size: 32px
  .Interest-item-container
    display: grid
    grid-template-columns: 1fr 1fr
    margin: 15px 20px
    p  
      margin: 10px 0
      text-transform: capitalize

