.Interest__container  {

    width: 90%;
    background:#efebe9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: inset 9em 1em #26a69a;
    
}


.Interest__title{

    font-size: 1.2em;
    margin: 0 10px 10px 0;
    color: #ffffff;

}

.Interest__text {

    margin-left: 170px;
    font-size: 0.9em;
    color: #27364a;
    margin-top: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.imagen:hover {

    border-radius:50%;
    box-shadow: 0px 0px 15px 15px#63d7cb;

}

