.Interests
  padding: 20px
  grid-area: interests
  display: flex
  flex-direction: column
  background-color: rgba(0,255,0,.1)
  h2
    color: rgba(0,0,0,.9)
  ul
    margin-left: 10px
    li
      text-transform: capitalize
      list-style: none
      color: rgba(0,0,0,.7)
