.Interest
  grid-area: interest
  .interestTarget
    display: flex
    align-items: center
    justify-content: space-between
    width: 60%
    font-weight: bold

    img 
      border-radius: 50%
      box-shadow: 1px 1px 1px #8ac149
    