@import "../vars.styl"

.Interests
  grid-row-start 5
  grid-column 3 / 5

.Interest-items
  display flex
  flex-flow row wrap
  justify-content center

.Interest-item
  margin 5px
  border-radius 5px
  background-color button-color
  padding 10px
  color white
