.Languages
    padding: 5rem 0
    @media screen and (min-width: 600px)
        display: inline-block
        width: 50%
        vertical-align: top
        .Languages-container
            max-width: 500px
            margin-left: 0
            padding-left: 50px
    .Languages-title
        font-size: 1.5rem
        font-weight: bold
        margin-bottom: 2rem
        @media screen and (min-width: 600px)
            font-size: 2rem