@import "./Vars.styl"

.Languages
    grid-area languages
    background secundary-color
    padding 20px
    margin-top 10px
    &-title
        color primary-color
    &-container
        display flex
        gap 40px
        border 1px solid #c7c7c7        
        border-radius 10px
        background white
        padding 20px
        div
            color primary-color
        p
            text-transform uppercase   
