@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.Main {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-areas: "aside content";
  font-family: 'Roboto', Helvetica;
}