.Profile
  justify-self: center
  margin-top: 3%
  height 100px
  width: 80%
  grid-area: profile
  display: grid
  grid-template-areas: "title" "text"
  grid-template-rows: 30% 70%
  justify-items: center
  align-items: center
  &-title
    grid-area: title
  &-desc
    margin-top: 2% 
    grid-area: text
    align-self: flex-start
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: text-color;
