@import "./vars.styl"

.Profile
  grid-area profile
  width calc(100% - 60px)
  margin 30px
  &-title
    width: 9%;
    padding-bottom: 5px;
    color font-colorSecond
    border-bottom: 3px solid rgb(186, 154, 109);
  &-title,
  &-desc
    margin 15px 0