.Profile
  background-color white
  border 1px solid #307bbb
  border-radius 15px
  box-shadow 0 4px 8px 0 rgba(0,0,0,0.2)
  margin 10px
  padding 0 15px
  transition 0.3s

.Profile:hover
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2)

.Profile-title
  color #307bbb

.Profile-desc
  line-height 25px
  text-align justify


