.Progress
  margin: 5%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &-graphi
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: degradado;
    display: flex
    align-items: center
    justify-items: center
    justify-content: center
    &-bg
      width: 100px;
      height: 100px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: light-color;
      display: flex
      align-items: center
      justify-items: center
      justify-content: center