.Skills
    &-item
        margin 0px 0 40px 20px
        font-size 20px
        font-weight bold
    &-item-progress-bar
        margin 20px 0 0 0
        height 30px
        width 80%
        border-radius 50px
        border 1px solid #333