@import "./Vars.styl"

.Skills
    grid-area skills
    background secundary-color
    padding 20px
    margin-top 10px
    &-title
        margin-bottom 50px  

.HTML
     width: 90%
     background-color #4CAF50 /* Green */
.css 
    width: 80%
    background-color #2196F3 /* Blue */
.js 
    width: 65%
    background-color #f44336 /* Red */
.php 
    width: 60%
    background-color #808080 /* Dark Grey */