.social
  grid-area: social
  display flex
  align-items: center
  flex-direction: column
  border-radius: 3em 3em 0 0
  background: #1a1a1a
  color: white
  padding: 1em 0 0 0
  .social-container
    margin: 1em 0
    display: flex
    justify-content: space-evenly
    width: 70%
.SocialMedia
  display: flex
  flex-direction: column