@import "../vars.styl"

.Social
  grid-column-start 1
  grid-column-end 5
  display flex
  justify-content center
  align-items: center

  
.Social__item
    text-decoration none
    margin-right: 100px;
    color black
