@import '../_variables.styl'

.Social
	grid-area footer
	padding 20px
	background-image linear-gradient(20deg, #08A5D0, #B4ACB6)
	background-image linear-gradient(21deg, #454EED, #C57873)
	background-image linear-gradient(-133deg, #352824, #48C3F1)
	background-image linear-gradient(149deg, #52B564, #2C1F73)

	& ul
		display flex
		flex-wrap wrap
		justify-content space-around
		margin 0
		padding 0
		list-style none

	& li
		padding 0 10px

		& a
			color $light-green
			text-decoration none
			text-align center

			& p
				margin 0


