@import '../Vars.styl'

.Switch
	border: 2px solid #3f0e40
	border-radius: 4px
	font-size: 16px
	cursor: pointer
	margin: 0 0 auto
	padding: 0.2em
	color: $text-color-dark
	background-color: $back-color-dark

.Switch-dark-mode
	@extend .Switch
	color: $back-color-dark
	background-color: $text-color-dark