/***
 *    ██╗...██╗.█████╗.██████╗.███████╗
 *    ██║...██║██╔══██╗██╔══██╗██╔════╝
 *    ██║...██║███████║██████╔╝███████╗
 *    ╚██╗.██╔╝██╔══██║██╔══██╗╚════██║
 *    .╚████╔╝.██║..██║██║..██║███████║
 *    ..╚═══╝..╚═╝..╚═╝╚═╝..╚═╝╚══════╝
 *    .................................
 */

ColorPrimary = #e0edfb
ColorSecondary = #ffffff