/***
 *    ██╗...██╗.█████╗.██████╗.███████╗
 *    ██║...██║██╔══██╗██╔══██╗██╔════╝
 *    ██║...██║███████║██████╔╝███████╗
 *    ╚██╗.██╔╝██╔══██║██╔══██╗╚════██║
 *    .╚████╔╝.██║..██║██║..██║███████║
 *    ..╚═══╝..╚═╝..╚═╝╚═╝..╚═╝╚══════╝
 *    .................................
 */

  ColorPrimary = #e0edfb
  ColorSecondary = #ffffff
  ColorGray = #212529
  ColorSun = #ff9a00
  ColorMoon = #eaeaea
  baseBackground = #f7f7f7
  baseColor = #212529
  switchSpinner = white
  switch = linear-gradient(-45deg, #eab002, #f3e4af)

.is-dark-mode 
  ColorPrimary = #e0edfb
  ColorSecondary = #ffffff
  ColorGray = #212529
  ColorSun = #ff9a00
  ColorMoon = #eaeaea
  baseBackground = #f7f7f7
  baseColor = #212529
  switchSpinner = white
  switch = linear-gradient(-45deg, #eab002, #f3e4af)



@media (prefers-color-scheme: dark) 
  :root 
    ColorPrimary = #e0edfb
    ColorSecondary = #ffffff
    ColorGray = #212529
    ColorSun = #ff9a00
    ColorMoon = #eaeaea
    baseBackground = #f7f7f7
    baseColor = #212529
    switchSpinner = white
    switch = linear-gradient(-45deg, #eab002, #f3e4af)
