@import '../../styles/components/styles.styl'

.Academic
    display flex
    flex-wrap wrap

    &-title
        width 100%

    &-item
        width 100%
        
.Degree
    display flex
    flex-wrap wrap
    padding 1.5rem

    &-title
        width 50%
        margin-bottom 0 !important
    
    .date
        width 50%
        text-align right 
        font-weight bold
    
    .institution
        width 100%
        padding-bottom 0.5rem
        font-size 1.25rem
        font-weight 300
        font-family $font-family-title
        text-transform capitalize
        opacity 0.8
        margin-bottom 3px
    
    .description
        width 100%