
.ErrorMessage
    position absolute
    top 0
    left 0
    right 0
    width 70%
    padding .75rem 1.25rem
    margin-left auto
    margin-right auto
    margin-bottom 1rem
    border 1px solid transparent
    border-radius .25rem
    font-weight bold
    text-align center

    &-warning
        color #856404
        background-color #fff3cd
        border-color #ffeeba
   