// COLORS
$blue = #313172
$green = #4B9967

$light-green = #c6ffd0
$light-blue = #D4D9FF
$almost-white = #f9f9f9

// FONTS
$headers-font = 'MuseoModerno', cursive
$contents-font = 'Asap', sans-serif
$color = #333