@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

font-title= 'Open Sans', sans-serif;
paragraph-font= 'Roboto', sans-serif;


h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0
  font-family: font-title

p, span 
  font-family paragraph-font
.section
  margin: 10px 5px
  padding: 1em
