@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap')

$color1 =rgba(0,0,0,.8)
$color2 = blue

*
  box-sizing: border-box
  padding: 0
  margin: 0



body
  margin: 0 auto
  max-width: 1200px
  font-family: 'Karla', sans-serif
  font-size: 18px
  

