@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap')

primary-color = #f1ffe2
secondary-color = #fbf2e5
comodin-color = #627052
comodin2-color = #f5f5ea
main-border = 3px
main-height = 100%
primary-font = 'Montserrat', sans-serif
shadow = 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)