@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body
  margin: 0

$back-color-light = #FFFFFF
$back-color-dark = #3F0E40
$text-color-light = #636465B5
$text-color-dark = rgb(188,171,188)
$main-border = 3px
$main-height = 100%
$main-font = 'Quicksand'
$shadow = 0 2px 4px rgba(0,0,0,0.18)