$back-color-card-light=#ffffff
$back-color-card-dark=#243a46
$back-color-light = #f6f8fa
$back-color-dark = #1d3744
$text-color-light = #434343
$border-color-light = #d1d5da
$border-color-dark = #1d3744
$shadow = 0 2px 4px rgba(0,0,0,0.18)
$text-color-dark = #ffffff