@import '../../styles/components/styles.styl'

.About
    display grid
    grid-template-columns 1fr
    grid-template-areas "Title" "Phone" "Email" "Website" "Address"
    grid-gap .25rem 2rem
    
    @media $md
        grid-template 1fr 1fr 1fr / 1fr 1fr 1fr
        grid-template-areas "Title Title Title" "Phone Email Website" "Address Blank Blank" 
    
    .About-title
        grid-area Title

    for $area in Phone Email Experience Website Address
        .{$area} 
            grid-area $area