@import '../../styles/components/styles.styl'

.Header
    display flex
    align-items center

    &-avatar
        margin-right 1.5rem
        @media $md
            margin-right 2rem

    &-title
        margin-bottom 0 !important
        font-size 1.5rem !important
        @media $md
            font-size 2rem !important