
.Avatar
    border-radius 50%
    color #fff
    display flex
    align-items center
    justify-content center
    
    
    &.small 
        width 32px
        height 32px
    
    &.medium 
        width 56px
        height 56px
    
    &.large 
        width 72px
        height 72px
    
    &.extra-large 
        width 136px
        height 136px

    span 
        font-family sans-serif
        font-size 1rem
        color white
        font-weight 400
    
    &.medium span 
        font-size 1.5rem
          
    &.large span 
        font-size 1.75rem

    &.extra-large span 
        font-size 3.5rem
    
    img 
        width 40px
        border-radius 50%
    
    &.medium img 
        width 60px

    &.large img 
        width 80px

    &.extra-large img 
        width 136px
