@import '../../styles/components/styles.styl'
    
.Interest
    display flex
    flex-wrap wrap

    &-title
        width 100%

    &-item
        width 50%
        font-family $font-family-title
        padding-bottom .5rem
        font-size 1.25rem
        font-weight 300
        text-transform capitalize
        text-align center
        opacity .8
        margin-bottom 3px

