name: assignComment

on: [pull_request]

jobs:
  assing_user:
    runs-on: ubuntu-latest
    steps:
    - name: Assign PR to creator
      uses: thomaseizinger/assign-pr-creator-action@v1.0.0
      if: github.event_name == 'pull_request' && github.event.action == 'opened'
      with:
        repo-token: ${{ secrets.token }}
  comment_pr:
    runs-on: ubuntu-latest
    name: An example job to comment a PR
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@master
        with:
          message: '¡Genial! Cuéntanos que te pareció el reto.'
          GITHUB_TOKEN: ${{ secrets.token }}
